.preloader {
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f6f9;
  height: 100vh;
  width: 100%;
  transition: height 200ms linear;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.animation__shake {
  -webkit-animation: shake 1500ms;
  animation: shake 1500ms;
}


.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
